html, body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F0F0F0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

a {
    color: #1E6BB8;
    text-decoration: none;
}

/* icon buttons */

.icon-btn {
    background: #FFFFFF;
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-btn:hover {
    /*opacity: 0.85;*/
    border: #0060DF 2px solid;
}

.icon-btn img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

/* tooltip */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 4px;
    color: #FFFFFF;
    white-space: nowrap;
    position: absolute;
    z-index: 1000;
}

.tooltip-bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
}

.tooltip-left {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    margin-right: 5px;
}

.tooltip-right {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: 5px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

/* header */

header {
    background: linear-gradient(135deg, #155899 0%, #159957 100%);
    color: #FFFFFF;
    text-align: center;
    padding: 40px;
}

h1 {
    margin-top: 40px;
    font-size: 3.25rem;
    /*text-shadow: #0F0F0F 1px 1px 3px;*/
}

header p {
    font-size: 0.8em;
    /*text-shadow: #0F0F0F 1px 1px 1px;*/
}

header a {
    color: #E2E26A;
}

/* api key */

.api-key-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* search */

.search-container {
    margin-top: 40px;
}

#api-key-input {
    width: 300px;
}

#search-form {
    display: flex;
    justify-content: center;
}

#search-input {
    background: #FFFFFF;
    border: none;
    border-radius: 8px;
    height: 43px;
    width: 400px;
    padding-left: 15px;
}

#search-input::placeholder {
    color: #A0A0A0;
}

#search-btn {
    border-radius: 8px;
    margin-left: -45px;
}

/* main content */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
    position: relative;
}

.page-container {
    display: flex;
}

#status-message {
    color: #323232;
    font-style: italic;
}

/* loader */

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top: 4px solid #155899;
    border-right: 4px solid transparent;
    animation: rotate 1.5s linear infinite;
}
.spinner:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-bottom: 4px solid #159957;
    border-left: 4px solid transparent;
}

@keyframes rotate {
    to {transform: rotate(360deg);}
}

/* content */

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.animal-card {
    background: #FFFFFF;
    border-radius: 8px;
    max-width: 300px;
    width: 300px;
    padding: 0 20px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
}

.card-name {
    font-size: 1.5em;
    font-weight: bold;
    background-image: linear-gradient(45deg, #159957 0%, #155899 100%);
    background-clip: text;
    color: transparent;
    margin-bottom: 0;
}

.card-sci-name {
    font-style: italic;
    color: #555555;
    margin-top: 0;
    margin-bottom: 10px;
}

.card-section-title {
    margin-top: 10px;
    font-weight: bold;
    color: #155899;
}

.card-section-info {
    margin-top: -10px;
    margin-left: 10px;
    font-size: 0.9em;
}

.fav-btn-container {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.5;
}

.favorited {
    opacity: 0.8;
}

/* favorites sidebar */

.favorites-container {
    background: #FFFFFF;
    border-radius: 8px;
    min-width: 300px;
    max-width: 1000px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorites-container-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    background-image: linear-gradient(45deg, #159957 0%, #155899 100%);
    background-clip: text;
    color: transparent;
}

.favorite-card {
    list-style: none;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    margin: 5px 0;
    padding: 8px;
    cursor: pointer;
}

.fav-card-name {
    display: inline;
    font-size: 1.2em;
    font-weight: bold;
    color: #155899;
}

.fav-card-sci-name {
    display: inline;
    font-style: italic;
    font-size: 0.9em;
    color: #555555;
}

/* animals modal */

.modal-animal-name-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -20px;
}

.modal-animal-name {
    font-size: 1.5em;
    font-weight: bold;
    background-image: linear-gradient(45deg, #159957 0%, #155899 100%);
    background-clip: text;
    color: transparent;
}

.modal-animal-sci-name {
    font-style: italic;
    color: #555555;
}

.modal-data-container {
    display: flex;
    gap: 50px;
}

.modal-section {
    max-width: 500px;
    min-width: 200px;
}

.modal-section-title {
    font-weight: bold;
    color: #155899;
    margin-top: 10px;
}

.modal-section-info {
    font-size: 0.9em;
    color: #555555;
    padding-top: 5px;
}

.modal-section-info .info-key {
    font-size: 1.1em;
    color: #155899;
}

/* footer */

footer {
    background: linear-gradient(135deg, #155899 0%, #159957 100%);
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
}

/* modal */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-border {
    background: linear-gradient(135deg, #155899 0%, #159957 100%);
    padding: 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.modal {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: auto;
}

/* extra */

.divider {
    height: 1px;
    background-color: #E0E0E0;
    margin: 5px 0;
}

/* override flags */

.bold {
    font-weight: bold !important;
}

[hidden] {
    display: none !important;
}